# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==============================
# Virtual Environment
# ==============================
.venv/
venv/
env/

# ==============================
# Django
# ==============================
db.sqlite3
*.log
local_settings.py

# ==============================
# Django Media & Static (optional)
# ==============================
media/
staticfiles/

# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/
*.swp

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db
